<main class="page__main">
  <div class="container">
    <h1 class="page__title">El juego de las parejas</h1>
    <div class="form__container">
        <label for="first__selection">
          <input class="form__value" id="first__selection" type="radio" value="4" name="number__cards">4
        </label>
        <label for="second__selection">
          <input class="form__value" id="second__selection" type="radio" value="6" name="number__cards">6
        </label>
        <label for="third__selection">
          <input class="form__value" id="third__selection" type="radio" value="8" name="number__cards">8
        </label>
        <button class="btn" type="button">Comenzar</button>
    </div>
    <ul class="list__cards">
      <li><img src="assets/images/opuesta.png"><img src="assets/images/opuesta.png"></li>
    </ul>
  </div>
</main>

