<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Pokemon pairs game</title>
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page">
    <!-- <partial src="_header.html" label="Header"></partial> -->
    <partial src="_main.html" label="Main"></partial>
    <!-- <partial src="_footer.html" label="footer"></partial> -->
    <script type="text/javascript" src="assets/js/main.js"></script>
  </div>
</body>
</html>
